@mixin podium-icon {
  font-size: 42px;
  margin-top: 2.5px;
}

.one {
  @include podium-icon;
  color: #cfb53b;
}
.two {
  @include podium-icon;
  color: #e6e8fa;
}
.three {
  @include podium-icon;
  color: #8c7853;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  mat-card {
    &:hover {
      background: whitesmoke;
      mat-icon {
        font-size: 46px;
      }
    }
    cursor: pointer;
    height: 50px;
    margin-bottom: 5px;
  }
}
