<div class="container air">
  <div class="mat-headline">
    New Game
  </div>
  <form>
    <mat-form-field class="input">
      <mat-select
        placeholder="White"
        (selectionChange)="update('white', $event)"
      >
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-select
        placeholder="Black"
        (selectionChange)="update('black', $event)"
      >
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        (dateChange)="update('date', $event)"
        [matDatepicker]="picker"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div>
      <label class="mat-subheading-2">Result: </label>
      <mat-radio-group
        formControlName="floatLabel"
        (change)="update('result', $event)"
      >
        <mat-radio-button
          checked="{{ game?.result === RESULT.White }}"
          name="white"
          [value]="RESULT.White"
          >White</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === RESULT.Black }}"
          name="black"
          [value]="RESULT.Black"
          >Black</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === RESULT.Draw }}"
          name="draw"
          [value]="RESULT.Draw"
          >Draw</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === RESULT.TBD }}"
          name="tbd"
          [value]="RESULT.TBD"
          >TBD</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div>
      <label class="mat-subheading-2">Type: </label>
      <mat-radio-group
        formControlName="floatLabel"
        (change)="update('type', $event)"
      >
        <mat-radio-button
          checked="{{ game?.type === TYPE.Bullet }}"
          name="bullet"
          [value]="TYPE.Bullet"
          >Bullet</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === TYPE.Blitz }}"
          name="bullet"
          [value]="TYPE.Blitz"
          >Blitz</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === TYPE.Rapid }}"
          name="rapid"
          [value]="TYPE.Rapid"
          >Rapid</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === TYPE.Classic }}"
          name="classic"
          [value]="TYPE.Classic"
          >Classic</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === TYPE.Correspondence }}"
          name="correspondence"
          [value]="TYPE.Correspondence"
          >Correspondence</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-checkbox
      (change)="update('online', $event)"
      checked="{{ game?.online }}"
      value="game.online"
      >Online?</mat-checkbox
    >
    <button type="button" (click)="add(game)" mat-raised-button color="primary">
      Create Game
    </button>
  </form>
</div>
