<div class="container air">
  <div class="mat-headline">
    New Game
  </div>
  <form>
    <mat-form-field class="input">
      <mat-select placeholder="White">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-select placeholder="Black">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field> -->
    <!--   <input matInput [matDatepicker]="picker" placeholder="Choose a date" /> -->
    <!--   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
    <!--   <mat-datepicker #picker></mat-datepicker> -->
    <!-- </mat-form-field> -->

    <div>
      <label class="mat-subheading-2">Result: </label>
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button
          checked="{{ game?.result === 0 }}"
          name="white"
          value="RESULT.White"
          >White</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === 1 }}"
          name="black"
          value="RESULT.Black"
          >Black</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === 2 }}"
          name="draw"
          value="RESULT.Draw"
          >Draw</mat-radio-button
        >
        <mat-radio-button
          checked="{{ game?.result === 3 }}"
          name="tbd"
          value="RESULT.TBD"
          >TBD</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div>
      <label class="mat-subheading-2">Type: </label>
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button
          checked="{{ game?.type === 0 }}"
          name="bullet"
          value="GAME_TYPE.Bullet"
          >Bullet</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === 1 }}"
          name="bullet"
          value="GAME_TYPE.Blitz"
          >Blitz</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === 2 }}"
          name="rapid"
          value="GAME_TYPE.Rapid"
          >Rapid</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === 3 }}"
          name="classic"
          value="GAME_TYPE.Classic"
          >Classic</mat-radio-button
        >

        <mat-radio-button
          checked="{{ game?.type === 4 }}"
          name="correspondence"
          value="GAME_TYPE.Correspondence"
          >Correspondence</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-checkbox value="game.online">Online?</mat-checkbox>
    <pre>{{ game | json }} </pre>
    <button mat-raised-button color="primary">Create Game</button>
  </form>
</div>
