body {
    margin: 0;
}
.container {
    display: grid;
    &.gap {
	grid-gap: 10px;
    }
    &.air {
	margin-left: 10%;
	margin-right: 10%;
    }
}

.centered {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

